body {
    background-image: linear-gradient(270deg, #FFFFFF 0%, #B3BBFF 0%, #DEF3FF 99.99%, #CCECFF 100%);
}

/*typography*/


h1 {
    font-family: 'Aleo', serif;
    font-size: 72px;
    font-weight: 400;
}
h2 {
    font-family: 'Aleo', serif;
    font-size: 64px;
    font-weight: 400;
}
h3 {
    font-family: 'Aleo', serif;
    font-size: 56px;
    font-weight: 400;
}
h4 {
    font-family: 'Aleo', serif;
    font-size: 36px;
    font-weight: 400;
}
h5 {
    font-family: 'Aleo', serif;
    font-size: 24px;
    font-weight: 400;
}
h6 {
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-weight: 400;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
p1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;  
}
.btn1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
} 
.btn2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;  
}
.btn3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.btn4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.btn5 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.n1 {
    font-family: 'Aleo', serif;
    font-size: 30px;
    font-weight: 400;
    color: #747070; 
    text-decoration: none;
}
.ft {
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-weight: 400;
    color: #747070;
    list-style: none;
    text-decoration: none;
}
/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 114px;
    padding-right: 120px;
}
.nav-primary ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-primary ul li {
    margin: 0 24px;
}
.nav-primary ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #747070;
    font-family: 'Aleo', serif;
    font-size: 30px;
}
.hero {
   padding: 40px;
   padding-left: 40px;
   padding-right: 40px;
   border-style: solid;
   border-color: #FFD5C4;
   border-radius: 20px;
   border-width: 4px;
   margin-top: 100px;
   margin-left: 25%;
   margin-right: 25%;
   background: linear-gradient(270deg, rgba(230, 232, 255, 0.9) 2.08%, rgba(230, 232, 255, 0.8) 38.02%, rgba(230, 246, 255, 0.8) 68.23%, rgba(230, 246, 255, 0.8) 95.31%);
}
.container {
    padding-left: 40px;
    padding-right: 40px;
    margin: 40px;
    max-width: 100%;
}
.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.hero-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 450px;
}
.hero-button {
    border-style: solid;
    border-radius: 20px;
    color: #FFD5C4;
    background-color: #FFD5C4;
    padding: 10px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 3%;
    padding: 2%;
}
.ft .ft-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}